extends: default

rules:
  line-length:
    max: 120
    allow-non-breakable-words: true
    allow-non-breakable-inline-mappings: true
  document-start: disable
  truthy: disable
  indentation:
    spaces: 2
  comments:
    require-starting-space: true
  trailing-spaces: enable
  empty-lines:
    max: 2
  hyphens:
    max-spaces-after: 1
